<div class="content">
  <div class="panel panel-flat border-top-xlg border-top-theme-color">
    <div class="panel-body panel-width">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for @food_category,:html =>{:class => "form-validate-jquery", :novalidate=>"novalidate"} do |f| %>

              <div class="form-group  has-feedback">
                <%= f.label :name %>
                <%= f.text_field :name , class: "form-control"%>     
              </div>

              <div class="actions">
                <div class="row">
                  <div class="col-lg-6">
                    <%= f.submit :class => "btn bg-teal-400 btn-ladda btn-ladda-spinner " %>
                  </div>
                </div>
              </div>
 
          <!-- </div> -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>